packages:
  yum:
    git: []
    postgresql-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: 'ecommercejockey.wsgi:application'
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:application:environment:
    COMPANY_NAME: ""
    COMPANY_NICKNAME: ""
    COMPANY_SITE: ""
    COMPANY_HOST: ""
    DATABASE_HOST: ""
    DATABASE_NAME: ""
    DATABASE_PASSWORD: ""
    DATABASE_PORT: ""
    DATABASE_USER: ""
    DJANGO_SETTINGS_MODULE: ""
    GOOGLE_DRIVE_API_KEY: ""
    PREMIER_API_KEY: ""
    PYTHONPATH: ""
    SECRET_KEY: ""
    SEMA_USERNAME: ""
    SEMA_PASSWORD: ""
    SHOPIFY_API_KEY: ""
    SHOPIFY_PASSWORD: ""
    SHOPIFY_SECRET: ""
    SHOPIFY_WEBHOOK_SIGNATURE: ""
    SUPERUSER_EMAIL_ADDRESS: ""
    SUPERUSER_PASSWORD: ""

container_commands:
  01_activate_environment:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate"
  02_freeze_environment_packages:
    command: "pip freeze"
  03_review_environment_packages:
    command: "pip-review"
  04_migrate_database:
    command: "python manage.py migrate --noinput"
    leader_only: true
  05_show_database_migrations:
    command: "python manage.py showmigrations"
    leader_only: true
  06_create_superuser:
    command: "python manage.py create_superuser"
    leader_only: true